# setup your LLM API config , ref https://api-docs.deepseek.com/
LLM_MODEL=deepseek-chat
LLM_BASE_URL=https://api.deepseek.com
LLM_API_KEY=sk-652eace33f454927b4dd0f5e4606c371
HF_ENDPOINT=https://hf-mirror.com

# if you use Azure OpenAI, uncomment below and fill in your info
# API_VERSION=2025-01-01-preview
# OPENAI_PROVIDER=