*/__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.DS_Store
.vscode
.idea
.codebuddy/


.venv
.env
.env.example
*.pt
*.pkl
*.npy
*.index
*.json

data/
output/

retriever/faiss_cache_new/*
retriever/demo/*
docker/Dockerfile
site/
